<a-assets>
    <a-asset-item id="planeModel" src="Modelos/Planes/L1 Plane/11803_Airplane_v1_l1.obj"></a-asset-item>
    <a-asset-item id="planeMaterial" src="Modelos/Planes/L1 Plane/11803_Airplane_v1_l1.mtl"></a-asset-item>
    <a-asset-item id="boldFont" src="https://cdn.aframe.io/fonts/mozillavr.fnt"></a-asset-item>
    <audio id="planeASound" src="Music/SFX/Plane-A.mp3"></audio>
    <a-asset-item id="planeModelB2" src="Modelos/Planes/B2/B-2_high.obj"></a-asset-item>
    <a-asset-item id="planeMaterialB2" src="Modelos/Planes/B2/B-2_high.mtl"></a-asset-item>
</a-assets>