<a-entity>
    <a-circle id="prevButton" position="-1.2 1.2 -2" radius="0.3" color="#3114d1" class="clickable" look-at="#cameraRig">
        <a-text value="<" align="center" position="0 0 0" color="#FFF" width="6"></a-text>
    </a-circle>
    
    <a-circle id="nextButton" position="1.2 1.2 -2" radius="0.3" color="#3114d1" class="clickable" look-at="#cameraRig">
        <a-text value=">" align="center" position="0 0 0" color="#FFF" width="6"></a-text>
    </a-circle>
    
    <a-circle id="resetButton" position="-2 -1.5 -2.5" radius="0.2" color="#FF0000" class="clickable" look-at="#cameraRig">
        <a-text value="Reset" align="center" position="0 0 0" color="#FFF" width="3"></a-text>
    </a-circle>
</a-entity>